.product-portal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-tile {
  width: 15em;
  height: 18em;
  margin: 2em;
  box-shadow: 5px 2px 25px lightgrey;
}

.product-btn {
  height: 15em;
  margin: 0;
  padding: 0;
  background: none;
}

.product-btn:focus {
  outline:none;
}

.product-name {
  color: black;
  padding: 1em;
  border-top: 1px solid lightgrey;
}

.product-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.product-show-img {
  width: 30rem;
  height: 30rem;
}

.product-show-tile {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  overflow: hidden;

@media (max-width: 1000px) {
  flex-direction: column;
  }
}

.product-show-content {
  padding: 2rem;
}

.product-show-btn {
  margin-top: 5rem;
  display: flex;
}

.interested-btn {
  margin-right: 2rem;
}
